@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  color: #c2c2c2;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
  color: #3538dc;
}

body {
  background-color: rgba(128, 128, 128, 0.959);
}

.hdfilmgecesi-container {
  margin: 0 auto;
  padding: 0;
  margin-top: 150px;
  max-width: 1070px;
  background-color: rgb(22, 22, 22);
  border-radius: 5px;
}

.hdfilmgecesi-container .hdfilmgecesi-navbar {
  width: 100%;
  height: 90px;
  background-color: rgba(24, 23, 23, 0.89);
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 3px solid #0b27c7;
}

.hdfilmgecesi-logo {
  width: 240px;
  height: 40px;
}

.hdfilmgecesi-logo a img {
  width: 100%;
  height: 100%;
}

.hdfilmgecesi-navbar .nav-items {
  display: flex;
}

.hdfilmgecesi-navbar .nav-items>li {
  padding: 0 15px;
}

.hdfilmgecesi-navbar .nav-items a {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
}

.hdfilmgecesi-navbar .nav-items .drop-list {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
}

.hdfilmgecesi-navbar form {
  display: flex;
  height: 40px;
  background: #1e232b;
  min-width: 18% !important;
  border: 1px solid rgb(185, 185, 185);
}

.hdfilmgecesi-navbar form .search-dat {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-weight: 500;
  background: none;
  border: none;
  outline: none;
}

.hdfilmgecesi-navbar .menu-icon,
.hdfilmgecesi-navbar .cancel-icon,
.hdfilmgecesi-navbar .search-icon {
  width: 40px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.hdfilmgecesi-navbar .menu-icon span,
.hdfilmgecesi-navbar .cancel-icon,
.hdfilmgecesi-navbar .search-icon {
  display: none;
}

.toggle-button,
.toggle-button:hover {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  cursor: pointer;
}

.toggle-button:hover {
  color: #0b27c7;
}

.toggle-button:hover .fa-caret-down {
  color: #0b27c7;
}

.sub-menu {
  display: none;
  border-radius: 3px;
  position: absolute;
  background-color: #666666;
  margin-top: 20px;
  margin-left: -51px;
  z-index: 2;
}

.sub-menu ul {
  padding: 10px 0;
}

.sub-menu.active {
  display: block;
}

.toggle-button .sub-menu li a {
  font-size: 15px;
  padding: 0.4rem;
  display: block;
  text-align: center;
  background: none;
}

.sub-menu::before {
  position: absolute;
  content: "";
  top: 0;
  right: 71px;
  width: 0;
  height: 0;
  margin: -19px 0 0;
  border: 10px solid transparent;
  border-bottom-color: #666666;
}

.login {
  display: none;
  width: 90px;
  height: 40px;
  background-color: rgb(110, 37, 37);
  border-radius: 5px;
  text-align: center;
  padding: 0.4rem;
  cursor: pointer;
}

.login2 {
  width: 90px;
  height: 40px;
  background-color: rgb(110, 37, 37);
  border-radius: 5px;
  text-align: center;
  padding: 0.4rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

/*----------------==slider-container==------------------*/
#slider-container {
  width: 100%;
  height: 310px;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card {
  height: 310px;
  position: relative;
}

.move-card-img {
  width: 100%;
  height: 100%;
}

.move-card-img img {
  width: 100%;
  height: 100%;
}

.movie-card-text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #161616c2 20%, rgba(73, 73, 73, 0.096) 40%);
}

.flag {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 5px 0 0;
}

.tr-flag {
  height: 22px;
  margin: 8px 3px;
}

.tr-flag img {
  height: 100%;
}

.cc {
  margin: 7px 3px;
}

.movie-card-bottom {
  position: relative;
  top: 65%;
}

.kat {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.yıl,
.yorum {
  color: #fff;
}

.imdb {
  color: gold;
}

.movie-name {
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin: 4px 0;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tür {
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 10px;
  padding: 0 10px;
  overflow: hidden;
}

.tür span {
  font-weight: 700;
  color: #0004ff;
}

.slider-left,
.slider-right {
  font-size: 40px;
  color: #ffffffb0;

}

/*----------------==slider-fregman==------------------*/
.fregman-container {
  max-width: 1070px;
  margin: 15px 10px 15px 10px;
}

.text-card {
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #575757;
  align-items: baseline;
  font-weight: 700;
  font-size: 15px
}

.text-card a {
  color: #fff;
}

.yakında {
  height: 41px;
  padding: 8px;
  background-color: #2d2d2e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.fregman-card {
  max-height: 182px;
  width: 100%;
  background-color: #2d2d2e;
  padding: 20px 12px 20px 12px;
  display: flex;
}

.fregman-slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.fregman {
  max-width: 20%;
  width: 20%;
  min-width: 10%;
  padding: 0 10px;
}

.fregman-img {
  position: relative;
  display: flex;
  justify-content: center;
}

.fregman-img img {
  max-width: 100%;
  border: 3px solid #3538dc;
  padding: 4px;
  border-radius: 100%;
}

.tarih {
  position: absolute;
  background: #3437dd;
  line-height: 1;
  font-size: 13px;
  padding: 2px 3px;
  border-radius: 3px;
  bottom: 0;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fregman-ismi {
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
  max-height: 48px;
  overflow: hidden;
  color: #ebebeb;
  font-weight: 600;
}

.fregman:hover .fregman-ismi {
  color: #4635dc;
}

.duyuru-reklam {
  max-width: 1070px;
  height: 245px;
  margin: 40px 10px;
  display: flex;
}

.duyuru {
  width: 95%;
  height: 170px;
  margin-right: 35px;
  background-color: #1c1ea14d;
  border: 2px solid #0004ff;
}

.reklam {
  width: 40%;
  height: auto;
  background-color: red;
}

/*========================-sdfgsdgs--=========================*/
#film-container {
  max-width: 1070px;
  margin: 40px 10px;
  display: flex;
  border-radius: 5px;
}

.film-container {
  display: flex;
  width: 100%;
}

.başlık {
  width: 100%;
  height: 60px;
  display: flex;
  border-bottom: 2px solid #575757;
  position: relative;
}

.sub-menu-2 {
  display: none;
  top: 100%;
  position: absolute;
  background-color: #000000f8;
  text-align: center;
  border-top: 2px solid #000000de;
  border-bottom: 2px solid rgb(87, 87, 87);
  z-index: 1;
}

.sub-menu-2.active {
  display: block;
}

.sub-menu-2 ul {
  padding: 12px 0;
}

.sub-menu-2 ul li {
  padding: 5px 21px;
}

.sub-menu-2 ul li a {
  font-weight: 500;
  color: #dadada;
}

.sub-menu-2 ul li a:hover {
  color: rgb(15, 12, 192);
}

.başlık .yeni-eklenen {
  display: inline-block;
  background-color: #2d2d2e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  color: #fff;
}

.film-tut {
  width: 100%;
  height: 100%;
}

.film-alan {
  width: 100%;
  padding: 35px 12px 35px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #2d2d2e;
}

.movie-card-2 {
  position: relative;
  margin: 0 8px 8px 0;
  height: 265px;
  overflow: hidden;
  border-radius: 5px;
}

.movie-card-bottom-2 {
  position: relative;
  top: 63%;
}

.kat-2 {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.movie-name-2 {
  color: #fff;
  font-size: 13px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin: 5px 0;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tür-2 {
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 8px;
  padding: 0 10px;
  overflow: hidden;
}

.tür-2 span {
  font-weight: 600;
  color: #0004ff;
}

.row {
  width: 35%;
  height: 100%;
  padding: 60px 0 0 10px;
}

.dublaj {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 0 15px;
}

.tr-izle {
  height: 40px;
  color: #fff;
  background-color: rgb(26, 18, 97);
  border-radius: 10px;
}

.tr-izle img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

@media (max-width: 1070px) {
  .hdfilmgecesi-container {
    border-radius: 0;
  }
}

@media (max-width: 991px) {
  .hdfilmgecesi-navbar .nav-items {
    position: absolute;
    top: 240px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #14181f;
    display: inline-block;
    padding: 10px 50px 0 50px;
    text-align: center;
    z-index: 101;
    transition: left 0.3s ease;
  }

  .sub-menu {
    top: 20px;
    margin: auto;
    padding: 0;
    display: none;
    border-radius: 3px;
    position: relative;
    background-color: #666666;
    width: 200px;
  }

  .sub-menu::before {
    position: absolute;
    content: "";
    top: 0;
    right: 90px;
    width: 0;
    height: 0;
    margin: -19px 0 0;
    border: 10px solid transparent;
    border-bottom-color: #666666;
  }

  .hdfilmgecesi-navbar .nav-items.active {
    left: 0;
  }


  .hdfilmgecesi-navbar .nav-items>li {
    line-height: 40px;
    margin: 30px 0;
  }

  .hdfilmgecesi-navbar form {
    position: absolute;
    top: 247px;
    right: 23px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
    z-index: 100;
  }

  .hdfilmgecesi-navbar form.active {
    opacity: 1;
    top: 270px;
    pointer-events: auto;
  }

  .hdfilmgecesi-navbar form .search-dat {
    border: 1px solid rgba(185, 185, 185, 0.425);
    z-index: 100;
  }

  .hdfilmgecesi-navbar form::before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0;
    width: 0;
    height: 0;
    margin: -20px 0 0;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
  }

  .hdfilmgecesi-navbar form:after {
    position: absolute;
    content: "";
    height: 60px;
    width: calc(100% + 20px);
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hdfilmgecesi-navbar .menu-icon {
    display: block;
  }

  .hdfilmgecesi-navbar .search-icon,
  .hdfilmgecesi-navbar .menu-icon span {
    display: block;
  }

  .hdfilmgecesi-navbar .menu-icon span.hide,
  .hdfilmgecesi-navbar .search-icon.hide {
    display: none;
  }

  .hdfilmgecesi-navbar .cancel-icon.show {
    display: block;
  }

  .login2 {
    display: none;
  }

  .login {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .fregman-img img {
    border: 2px solid #4635dc;
  }

  .fregman {
    max-width: 80px;
    width: 80px;
    min-width: 80px;
    padding: 0 5px;
  }

  .tarih {
    font-size: 10px;
  }

  .fregman-slider {
    overflow-x: auto !important;
    -overflow-scrolling: touch;
  }

  .tüm-fregmanlar {
    font-size: 13px;
  }

}

@media (max-width: 530px) {

  .tüm-fregmanlar {
    display: none;
  }

  .yakında {
    font-size: 12px;
  }
}

@media (max-width: 322px) {

  #slider-container {
    height: 270px;
  }

  .movie-card {
    height: 270px;
  }

  .kat {
    padding: 0 10px;
    font-size: 11px;
  }

  .tür {
    height: 15px;
    overflow: hidden;
    font-size: 9px;
  }
}

@media (max-width: 280px) {
  .sub-menu {
    width: 100%;
  }

  .sub-menu::before {
    position: absolute;
    content: "";
    top: 0;
    right: 65px;
    width: 0;
    height: 0;
    margin: -20px 0 0;
    border: 10px solid transparent;
    border-bottom-color: #666666;
  }

  .hdfilmgecesi-navbar .menu-icon,
  .hdfilmgecesi-navbar .cancel-icon,
  .hdfilmgecesi-navbar .search-icon {
    width: 40px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
  }

  .hdfilmgecesi-container .hdfilmgecesi-navbar {
    padding: 0 0;
  }
}

@media (max-width: 352px) {
  .hdfilmgecesi-container .hdfilmgecesi-navbar {
    padding: 0;
  }
}
